<header>Demo for express-saml2</header>
{{#if web}}
    <h3>{{web}}</h3>
{{else}}
    <h3> es2-IdP Login Portal </h3>
{{/if}}
<div id="form-wrapper">
    <form id="idp-login" method="post" action="/login" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
        <input type="email" name="email" placeholder="Email"value="" />
        {{#if target}}
            <input type="hidden" name="target" value="{{target}}"/>
        {{/if}}
        {{#if method}}
            <input type="hidden" name="method" value="{{method}}"/>
        {{/if}}
        {{#if appID}}
            <input type="hidden" name="appID" value="{{appID}}"/>
        {{/if}}
        <input type="password" name="password" placeholder="Password" value="" />
        <button type="submit" form="idp-login" value="Submit">Login</button>
    </form>
</div>
{{#each messages}}
   <h5 style="color:#BBB;">{{this}}</h5>
{{/each}}
